<ion-header no-border>
    <ion-navbar color="light">
        <ion-title>Details</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
<div>
    <ion-card class="cardion">
        <ion-card-content>
        <ion-card-title style="color:#1e3c88">Demande de : {{ request.purchaserName }}</ion-card-title>
        <ion-card-title *ngIf="request.bookedFor != 'Myself' && request.bookedFor != 'purchaser' && request.bookedFor != 'Purchaser'" style="color:#488aff">Pour : {{ request.bookedFor }}</ion-card-title>
        <h3> <a> Instructions : </a> {{ request.instructions }}</h3>
      </ion-card-content>
    </ion-card>
</div>

    <div class="video-selection" *ngIf="!selectedVideo">
        <!-- <p>Please select a video for upload from your gallery</p> -->
        <button ion-button full text-uppercase (click)="takeVideo()">prendre une video</button>
      </div>
      
      <div  *ngIf="answered">
        <p text-center style="font-size: 22px; color: #488aff">Vous avez deja repondu a cette demande</p>
      </div>

      <ion-item [hidden]="myVideo.nativeElement.src == ''">
          <video style="width:100%;" controls #myvideo></video>
        </ion-item>

      <div class="video-section" *ngIf="selectedVideo || myVideo.nativeElement.src">
    
        <video controls [src]="selectedVideo"></video>
    
        <div class="button-options" *ngIf="!uploadedVideo && !isUploading">
          <button ion-button clear (click)="cancelSelection()">
            <ion-icon name="close-circle" color="danger"></ion-icon>
          </button>
          <button ion-button clear (click)="sendVideo()">
            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          </button>
        </div>
    
        <div *ngIf="isUploading">
          <div class="uploading">
            <p><ion-spinner name="bubbles"></ion-spinner></p>
            <p>Uploading - {{ uploadPercent }}% Complete</p>
          </div>
          <div class="button-options">
            <button ion-button clear (click)="cancelUpload()">
              <ion-icon name="close-circle" color="danger"></ion-icon>
            </button>
          </div>
        </div>
    
        <div class="button-options" *ngIf="uploadedVideo">
          <button ion-button clear (click)="cancelSelection()">
            Start Over
          </button>
        </div>
    
      </div>
</ion-content>
