page-demandes-detail {
    video {
        max-width: 100vw;
        max-height: 40vh;
    }

    ion-card-title{
        font-size: 15px;
        font-weight: 700;
    }

    .cardion {
        // border-radius: 8px !important;
        // border: 2px solid #687DFC !important;
        // width: 100%
        // height: 70px;
        // width: 100%;
        // background: rgb(166, 179, 255);
        // // color: white;
        // padding: 2px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.418) !important;
      }

    .video-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button-options {
        text-align: center;

        button {
            margin: 1rem;

            ion-icon {
                font-size: 3rem;
            }
        }
    }

    .uploading p {
        text-align: center;
    }
}
