<!-- Themes  register-flat-->
<ion-content >
  <ion-grid no-padding>
    <!-- logo -->
    <img class="icon1" src="assets/imgs/Cameo-Logo.png" item-start>

    <ion-row header align-items-start align-items-stretch>
    <!-- Section form>-->
  <ion-col col-10 offset-1 col-md-6 offset-md-3>
    <form padding>
      <ion-row align-items-start>
        <ion-col col-12>
          <h1><strong>Bienvenue</strong> Veuillez vous connecter à votre compte</h1>
        </ion-col>
      </ion-row>
      <!-- Input-field -->
      <ion-row>
        <ion-col col-12>
          <div input-field>
            <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-label stacked></ion-label>
              <ion-input type="email" placeholder="email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}"></ion-input>
              <!-- <ion-label no-margin *ngIf="!isUsernameValid">required</ion-label> -->
             </ion-item>
            <!-- Input-field-password -->
            <ion-item no-padding>
              <ion-label stacked></ion-label>
              <ion-input type="password" placeholder="mot de passe" [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}"></ion-input>
              <!-- <ion-label no-margin *ngIf="!isPasswordValid">required</ion-label> -->
            </ion-item>
          </div>
          <!-- Login button -->
          <ion-col col-12 no-padding>
            <button no-margin ion-button full text-uppercase (click)="login()">Connexion</button>
          </ion-col>
          <!-- Description -->
          <div description text-center>
            <ion-row>
              <!-- Reset your password button -->
              <ion-col col-12 no-padding no-margin>
                <p no-margin no-padding>Mot de passe oublié? <a (click)="presentPrompt()">Réinitialiser mot de passe</a> </p>
              </ion-col>
              <!-- Signup now button -->
              <ion-col col-12padding>
                <!-- <p no-margin no-padding>Don't have an account? <a (click)="signup()">Signup now</a> </p> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </form>
    </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
