<ion-header no-border>
  <ion-navbar color="light">
  </ion-navbar>
</ion-header>

<!-- Themes  register-flat-->
<ion-content >
  <ion-grid no-padding>
    <!-- Section form>-->
  <ion-col col-10 offset-1 col-md-6 offset-md-3>
    <form padding>
      <ion-row >
        <ion-col col-12>
          <h1 center><strong>Signup</strong></h1>
        </ion-col>
      </ion-row>
      <!-- Input-field -->
      <ion-row>
        <ion-col col-12>
          <div input-field>
            <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-input type="text" placeholder="Nom" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}"></ion-input>
             </ion-item>
            <!-- Input-field-password -->
            <ion-item no-padding>
              <ion-input type="prénom" placeholder="Prénom" [(ngModel)]="data.firstname" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <!-- Input-field-password -->
            <ion-item no-padding>
              <ion-input type="text" placeholder="Pseudo" [(ngModel)]="data.pseudo" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-input type="email" placeholder="email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}"></ion-input>
             </ion-item>
             <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-input type="password" placeholder="Password" [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}"></ion-input>
             </ion-item>
             <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-input type="password" placeholder="Confirm password" [(ngModel)]="data.confirm_password" [ngModelOptions]="{standalone: true}"></ion-input>
             </ion-item>
          </div>
          <!-- Login button -->
          <ion-col col-12 no-padding>
            <button no-margin ion-button full text-uppercase (click)="register()">Signup</button>
          </ion-col>

        </ion-col>
      </ion-row>
    </form>
    </ion-col>
  </ion-grid>
</ion-content>
