<ion-tabs no-border>
  <ion-tab [root]="tab1Root" tabIcon="md-search"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabIcon="custom-telescope"></ion-tab> -->
  <ion-tab [root]="tab2Root" tabIcon="custom-user"></ion-tab>
</ion-tabs>
