page-wallet2 {

    ion-spinner {
        * {
        stroke: white !important;
        }
        
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
          fill: white !important;
        }
        }
    .card-title {
        position: absolute;
        top: 20%;
        font-size: 2.0em;
        width: 100%;
        font-weight: normal;
        color: #fff;
        // background :rgba(0, 0, 0, 0.45);
        // padding-left: 10px;
        margin-left: 10px;
      }

      ion-icon {
        display: inline-block;
        font-size: 35px;
        font-weight: lighter;
        color :#fff;
    }

    .div1{
        top: 50%;
    }

    h2{
        font-size: 3.5rem;
        font-weight: bolder;
    }

    h3{
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .card-button{
        // min-height: 20%;
        background: rgba(116, 137, 255, 0.459);
        // border: 2px solid #687DFC !important;
        border-radius: 8px !important;
        // box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16) !important;
    }
    hr {
        border: .2px solid  rgb(116, 137, 255) !important;
        height: .5px !important;
        width: 50px !important;
        background:  rgb(116, 137, 255) !important;
        display: block !important;
        font-size: 2em !important;
        opacity: .5 !important;
        visibility: visible !important;
      }
}
