<ion-header style="height:20%; background: rgba(116, 137, 255, 0.678)">

  <div class="card-title">
    <ion-icon name="arrow-back" (click)="back()"></ion-icon>
   </div>
   
    <h1 style="width:100% ; color: white; text-align: center; margin-top: 15px; margin-bottom: 20px; font-size: 20px" >My WALLET</h1>
    <!-- <p style="width:100% ; color: white; text-align: center; margin-bottom: 0%">Mois</p> -->
    <h1 style="width:100% ; color: white; text-align: center; margin-top: 0%;font-size: 30px;text-transform: uppercase;">{{date | date:'MMMM yyyy'}}</h1>
    
</ion-header>

<ion-content padding>

  <div class="div1">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div padding class="card-button" >
            <!-- <img src="assets/icon/human-rights.png" class="img-center" width="70px"> -->
            <h5  text-center style="margin-top:5px; color: white;">
              Demandes Reçues
            </h5>
            <hr>
            <h2 *ngIf="wallet" text-center style="margin-top:5px; color: white;">
              {{wallet.demandes.total}}
            </h2>

            <div style="margin-top: 5px;" *ngIf="isloading">
              <div text-center>
                <p><ion-spinner name="crescent"></ion-spinner></p>
              </div>
            </div>
          </div>
        </ion-col> 
        <ion-col col-6>
          <div padding class="card-button" >
            <h5 text-center style="margin-top:5px; color: white;">
              Demandes Traitées
            </h5>       
           <hr>
            <h2 *ngIf="wallet" text-center style="margin-top:5px; color: white;">
              {{wallet.demandes.total_done}}
            </h2>
            <div style="margin-top: 5px;" *ngIf="isloading">
              <div text-center>
                <p><ion-spinner name="crescent"></ion-spinner></p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>  
    <ion-row style="margin-top: 5%;">
        <ion-col col-6 >
          <div padding class="card-button">
            <h5 text-center style="margin-top:5px; color: white;">
              Votre Revenu Total du mois
            </h5>
            <hr>
            <h3 *ngIf="wallet" text-center style="margin-top:10px; color: white;">
              {{wallet.revenu.periode}} F
            </h3>
            <div style="margin-top: 5px;" *ngIf="isloading">
              <div text-center>
                <p><ion-spinner name="crescent"></ion-spinner></p>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col col-6 >
            <div padding class="card-button">
              <h5 text-center style="margin-top:5px; color: white;">
                Votre Revenu Total
              </h5>
              <hr>
              <h3 *ngIf="wallet" text-center style="margin-top:10px; color: white;">
                {{wallet.revenu.all}} F
              </h3>
              <div style="margin-top: 5px;" *ngIf="isloading">
                <div text-center>
                  <p><ion-spinner name="crescent"></ion-spinner></p>
                </div>
              </div>
            </div>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
