page-picture {

    .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid rgb(140, 157, 250);
}
.center{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

}
