page-contact {
   
    .div{
        height: 100px;
    }
    .ion-item{
        padding-left:  30px;
        // padding-left: 30px;
    }

    .card{
        display: flex;
        width: 100%;
        background: rgba(228, 228, 228, 0.247);
        color: rgb(88, 88, 88);
        border-radius: 10px;
        padding: 20px;
        font-size: 15px;
        font-weight: bold;  
        margin-top: 10px;
        margin-bottom: 10px;  
    }

    .ion-icon{
        margin-right: 15px;
        color :rgb(241, 36, 105);
        font-size: 25px;
    }
    
    .ion-icon2{
        margin-right: 15px;
        color :#687DFC;
        font-size: 25px;
    }

    .icon1{
       height: 70px;
       width: 70px;
        color: violet;
    }

    .imgprofil{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rgb(140, 157, 250);
    }
    .name{
        font-weight: bolder;
        margin-left: 10px;
        font-size: 18px;
    }

    .sub{
        font-weight: bold;
        margin-left: 10px;
    }

    .p{
        font-size: 11px;
        text-align: center;
    }

    /* Settings font size
  =========================================*/
  $settings-font-size-header: 24px;
  $settings-font-size-button: 12px;
  $settings-font-size-input-field: 14px;
  $settings-font-size-input-placeholder: 14px;
  $settings-font-size-description: 10px;
  $settings-font-size-label: 10px;

  /* Settings font weight
  =========================================*/
  $settings-font-weight-header: 300;
  $settings-font-weight-button: 700;
  $settings-font-weight-input-field: 400;
  $settings-font-weight-input-placeholder: 400;
  $settings-font-weight-description: 400;
  $settings-font-weight-label: 600;

  /* Settings text color
  =========================================*/
  $settings-text-color-header: #CCCCCC;
  $settings-text-color-button: #FFFFFF;
  $settings-text-input-color: #242424;
  $settings-text-input-placeholder: #CCCCCC;
  $settings-text-color-description: #242424;
  $settings-text-color-description-links: #687DFC;
  $settings-text-label-color: #687DFC;

  /* Content
  ===============================*/
  .trans{
    color: rgb(226, 29, 29) !important;
    background: rgb(226, 47, 47) !important;
  }
  
  .ion-icon{
    // margin-right: 15px;
    // color :rgb(241, 36, 105);
    // font-size: 25px;
}

.img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    
  // //  centrer image
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
    // width: 50%;
}

  ion-content {
    font-family: 'Montserrat', sans-serif;
    position: relative;

    .scroll-content {
      padding-bottom: 0 !important;

    ion-grid {
      min-height: 100%;

      [header]{
        flex: 1;
      }

    /* Settings logo
    ===============================*/
    [logo]{
      height: 70px;
      margin-top: 64px;
      margin-left: 20px;
    }

    /* Settings title
    ===============================*/
    h1 {
      color: $settings-text-color-header;
      font-size: $settings-font-size-header;
      font-weight: $settings-font-weight-header;
      line-height: 29px;
      margin-right: 20%;
      margin-left: 20px;
      margin-bottom: 40px;
      text-align: center;
    }

    strong {
      display: block;
    }

    /* Settings form
    ===============================*/
    form {
      margin-top: 0%;

      /* Settings input-field
      ===============================*/
      [input-field] {
        border-radius: 8px;
        overflow: hidden;
        border: 2px solid rgb(140, 157, 250);

        .item:nth-last-child(1){
          .item-inner {
            border-bottom: none !important;
          }
        }

        .item-block {
          overflow: visible !important;
        }
      }

      ion-item {
        background-color: transparent !important;

        ion-label {
          position: absolute;
          bottom: 0;
          right: 0;
          color: $settings-text-label-color !important;
          font-size: $settings-font-size-label;
          font-weight: $settings-font-weight-label;
          line-height: 17px;
          margin-right: 10px;
        }

        .item-inner {
          display: block !important;
          overflow: visible !important;
          border-bottom: 1px solid rgb(140, 157, 250) !important;
          box-shadow: none !important;
        }

        /* Settings text-input
        ===============================*/
        .text-input {
          color: $settings-text-input-color;
          font-size: $settings-font-size-input-field;
          font-weight: $settings-font-weight-input-field;
          width: 100% !important;
          margin: 19px 20px;
        }

        /* Settings input-placeholder
        ===============================*/
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $settings-text-input-placeholder !important;
          font-size: $settings-font-size-input-placeholder !important;
          font-weight: $settings-font-weight-input-placeholder !important;
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: $settings-text-input-placeholder !important;
          font-size: $settings-font-size-input-placeholder !important;
          font-weight: $settings-font-weight-input-placeholder !important;
        }

        :-ms-input-placeholder {
          /* IE 10+ */
          color: $settings-text-input-placeholder !important;
          font-size: $settings-font-size-input-placeholder !important;
          font-weight: $settings-font-weight-input-placeholder !important;
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: $settings-text-input-placeholder !important;
          font-size: $settings-font-size-input-placeholder !important;
          font-weight: $settings-font-weight-input-placeholder !important;
        }
      }

      /*Settings description
      ===============================*/
      [description] {
        margin: 20px 0;

        a {
          color: $settings-text-color-description-links;
          font-size: $settings-font-size-description;
          font-weight: $settings-font-weight-description;
          text-decoration: none;
        }

        p {
          color: $settings-text-color-description;
          font-size: $settings-font-size-description;
          font-weight: $settings-font-weight-description;
          line-height: 13px;
        }
      }

      /* Settings full button - Login button
      ===============================*/
      [full] {
        min-height: 57px;
        border-radius: 8px;
        margin-top: 15px;
        color: $settings-text-color-button;
        font-size: $settings-font-size-button;
        font-weight: $settings-font-weight-button;
        letter-spacing: 2px;
        background:rgb(241, 36, 105) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
          }
        }
      }
    }
  }
  /* Responsive for tablet
 ===============================*/
  @media (min-width: 576px) and (orientation: portrait) {
    ion-grid {
      position: relative;
    }
     [logo] {
       position: absolute;
       bottom: -50px;
       left: 20px;
     }
     h1 {
       margin-top: 50px !important;
     }
    form {
      margin-top: 0 !important;
    }
  }
  @media (min-width: 576px) and (orientation:landscape) {

    ion-grid {
      position: relative;
    }
     [logo] {
       position: absolute;
       bottom: -50px;
       left: 20px;
     }
     h1 {
       margin-top: 50px !important;
     }
    form {
      margin-top: 0 !important;
    }
  }
}
