<ion-header no-border>
        <ion-navbar color="light">
            <ion-title text-center>Profil</ion-title>
        </ion-navbar>
      </ion-header>

<ion-content padding>

        <!-- <img class="icon1" src="assets/imgs/Cameo-Logo.png" item-start> -->
        
            <ion-item  no-lines class="ion-item">       
                  <img item-start (click)="presentModal()" class="imgprofil" src="{{photoUrl}}">
                <h2 class="name">{{ username }}</h2>
                <p class="sub">{{data.slogan}}</p>
                <ion-icon class="ion-icon2" name="md-create" item-end (click)="edit()"></ion-icon>
            </ion-item>

            <ion-grid no-padding>
                    <!-- Section form>-->
                  <ion-col col-10 offset-1 col-md-6 offset-md-3>
                    <form padding>  
                    <ion-row>
                        <ion-col col-12>
                          <div input-field>
                            <!-- Input-field-text -->
                            <ion-item no-padding>
                                    <ion-label stacked>Nom</ion-label>
                              <ion-input readonly="true" type="text" placeholder="Nom" [(ngModel)]="data.fullname" [ngModelOptions]="{standalone: true}"></ion-input>
                             </ion-item>
                            <!-- Input-field-password -->
                            <ion-item no-padding>
                                    <ion-label stacked>Pseudo</ion-label>
                              <ion-input readonly="true" type="prénom" placeholder="Prénom" [(ngModel)]="data.username" [ngModelOptions]="{standalone: true}"></ion-input>
                            </ion-item>
                            <!-- Input-field-text -->
                            <ion-item no-padding>
                                    <ion-label stacked>email</ion-label>
                              <ion-input readonly="true" type="email" placeholder="email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}"></ion-input>
                             </ion-item>
                             <!-- Input-field-text -->
                            <ion-item no-padding>
                              <ion-label stacked>Téléphone</ion-label>
                        <ion-input readonly="true" placeholder="Téléphone" [(ngModel)]="data.phone" [ngModelOptions]="{standalone: true}"></ion-input>
                       </ion-item>
                        <!-- Input-field-text -->
                        <ion-item no-padding>
                                <ion-label stacked>Pays</ion-label>
                          <ion-input readonly="true" type="email" placeholder="Pays" [(ngModel)]="data.country" [ngModelOptions]="{standalone: true}"></ion-input>
                         </ion-item>
                          </div>
                        
                        </ion-col>
                      </ion-row>
                    </form>
                    </ion-col>
                  </ion-grid>
            
</ion-content>
