page-home {

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card {
        width: 44% !important;
        min-height: 160px;
        border-radius: 8px !important;
        display: inline-block;
        position: relative;
    }

    .card-price {
        position: absolute;
        top: 1%;
        font-size:11px;
        // width: 100%;
        font-weight: normal;
        color: rgb(0, 0, 0);
        padding: 5px;
        border-radius: 25px;
        background :rgba(255, 255, 255, 0.5);
        // right: 3%;
      }

    ion-scroll {
        min-height: 220px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }

    ion-searchbar{
        margin-top: 15px;
        height: 50px;
        background: red;
    }

    h6{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.822);
        padding-top: 10px;
        padding-bottom: 0 !important; 
        margin-right: 5px !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 15px !important;
    }

    ion-card-title{
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
        font-weight: bold;
        text-align: left;
    }

    .limited-text{
        white-space: nowrap;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .demo-card .subtitle {
        font-size: 11px;        
    }
    
    ion-card-content{
        padding: 6px 10px 6px 10px !important;
    }

    .md-cards h3 {
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.822);
        padding: .5em;
        padding-bottom: 0 !important; 
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 5px !important;
    }
    
    .demo-card .mbsc-scv-item {
        padding: 0 0 2em 0;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        border-radius: 8px;
    }
    
    .demo-card .mbsc-card-content {
        padding: 8px;
    }
    
    .md-img {
        pointer-events: none;
        // border-radius: 8px;
        height: 150px;
    }
    
    .demo-card .mbsc-card-title {
        font-size: 14px;
        // padding-top: 8px;
        margin: 0;
    }
    
    .demo-card .mbsc-card-subtitle {
        font-size: 11px;
        padding-top: 3px;
        margin: 0;
    }
    
    .demo-card .mbsc-ic {
        padding-left: 3px;
    }
    
    .md-rank {
        font-size: 12px;
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
    
}
