<ion-header no-border>
    <ion-searchbar color="primary" no-border mode="md" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let a of listArtiste; let i = index" (click)="pushemp(i)">
    <img class="md-img" src="http://wakodemo.tk/mediafile/{{a.photo}}"/>
    <div class="card-price">
      {{a.book_price}} CFA
     </div>
    <ion-card-content>
        <!-- <p class="subtitle limited-text" >
            {{a.book_price}} CFA
        </p> -->
      <ion-card-title class="limited-text">
          {{a.username}}
        </ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- <ion-content>
    <div class="md-cards">
      <div class="md-card-cont" *ngFor="let g of groupes; let i = index">
            <ion-grid>
                    <ion-row>
                      <ion-col col-9 text-left>
                        <h3>{{g.name}}</h3>
                      </ion-col>
                      <ion-col col-3 text-right>
                            <h6 (click)="showall(i)">See All</h6>
                          </ion-col>
                    </ion-row>
                  </ion-grid>
        <ion-scroll scrollX="true" direction="x" class="demo-card">
          <ion-card *ngFor="let c of g.list; let j = index" (click)="pushemp(i,j)">
            <img class="md-img" src="{{c.image}}"/>
            <ion-card-content>
                <p class="subtitle limited-text" >
                    {{c.dev}}
                </p>
              <ion-card-title class="limited-text">
                  {{c.title}}
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-scroll>
      </div>
</div>
</ion-content> -->
