<ion-header no-border>
    <ion-navbar color="light">
        <ion-title >
            Modifier profil
          </ion-title>
    </ion-navbar>
  </ion-header>
  
  <!-- Themes  register-flat-->
  <ion-content >
    <ion-grid no-padding>
      <!-- Section form>-->
    <ion-col col-10 offset-1 col-md-6 offset-md-3>
      <form padding>
        <!-- <ion-row >
          <ion-col col-12>
              <img class="img" src="assets/imgs/Cameo-Logo.png" >
          </ion-col>
        </ion-row> -->
        <!-- Input-field -->
        <!-- <img (click)="actionSheet()" class="img" src="{{photoUrl}}" > -->
        <ion-row>
          <ion-col col-12>
            <div input-field>
              <!-- Input-field-text -->
              <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="text" placeholder="Nom complet" [(ngModel)]="data.fullname" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>
              <!-- Input-field-password -->
              <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="text" placeholder="Pseudo" [(ngModel)]="data.username" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <!-- Input-field-text -->
              <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="email" placeholder="Email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>

               <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="number" placeholder="Téléphone" [(ngModel)]="data.phone" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>

               <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="text" placeholder="Slogan" [(ngModel)]="data.slogan" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>

               <!-- <ion-item no-padding>
                <ion-input type="text" placeholder="Nouveau mot de passe" [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item> -->
    
            </div>

            <br>
            <ion-col col-12 no-padding>
              <p text-center>Mot de passe</p>
            </ion-col>
            <div input-field>
                <ion-item no-padding>
                  <ion-label stacked></ion-label>
                    <ion-input type="password" placeholder="mot de passe actuel" [(ngModel)]="oldpassword" [ngModelOptions]="{standalone: true}"></ion-input>
                   </ion-item>
               <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="password" placeholder="Nouveau mot de passe" [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>
            </div>

            <!-- Login button -->
            <ion-col col-12 no-padding>
              <button no-margin ion-button full text-uppercase (click)="updatepp()">Enregistrer</button>
            </ion-col>
  
          </ion-col>
        </ion-row>
      </form>
      </ion-col>
    </ion-grid>
  </ion-content>
  