<ion-header no-border>
    <ion-navbar color="light">
        <ion-title>Videos Reçues</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h5 text-center>
    Aucunes Vidéos pour l'instant.
  </h5>
</ion-content>
