<ion-header no-border>
    <!-- <ion-navbar  mode="md" color="light"> -->
        <ion-icon name="arrow-back" item-start (click)="back()"></ion-icon>
    <ion-searchbar color="primary" no-border mode="md" (ionInput)="getItems($event)">
    </ion-searchbar>
  <!-- </ion-navbar> -->
</ion-header>

<ion-content>
    <ion-list no-lines *ngFor="let c of clist; let j = index" (click)="push(j)">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{c.image}}">
          </ion-avatar>
          <h2>{{c.title}}</h2>
          <p>{{c.dev}}</p>
        </ion-item>
      </ion-list>
</ion-content>