page-showall {

    ion-searchbar{
        // margin-top: 15px;
        height: 50px;
        background: red;
    }

    ion-item{
        height: 50px;
    }

    .item-md h2 {
        margin: 2px 0;
        font-size: 14px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }

    .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 12px;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
    }

    ion-icon {
        display: inline-block;
        font-size: 25px;
        color: #666;
    }
}
