<ion-content no-padding>
<!-- <div class="div1"> -->
  <!-- <ion-item>
    <ion-icon class="ion-icon3" name="arrow-back" item-start (click)="back()"></ion-icon>
    <img src="{{star.image}}"/>
  </ion-item> -->

  <ion-card>
      <img src="http://wakodemo.tk/mediafile/{{star.photo}}"/>
      <div class="card-title">
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
     </div>
     <div class="card-price">
      {{star.book_price}} CFA
     </div>
    </ion-card>
<!-- </div> -->
<div class="div1">
  <h1>{{star.username}}</h1>
  <!-- <h4>{{star.book_price}}</h4> -->
  <p>
     {{star.biographie}} "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>

<ion-grid>
    <ion-row>
        <ion-col col-4>
         artiste
        </ion-col>
        <ion-col col-4 >
              music
            </ion-col>
            <ion-col col-4>
                music
              </ion-col>
              <ion-col col-4>
                  music
                </ion-col>
                <ion-col col-4>
                    music
                  </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <button ion-button full text-uppercase (click)="demand()">Faire une Demande</button>
</ion-footer>
