page-star-detail {

    .div1{
        background: rgb(248, 248, 248);
        margin-top: 0px !important;
        padding: 10px;
    }

    h1 {
        margin-top: 0px;
        font-family: sans-serif;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.705);

    }

    h4 {
        margin-top: 0px;
        font-family: sans-serif;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.705);
    }

    p{
        font-family: sans-serif;
        font-size: 13px;
        text-align: justify
    }
    .col {
        font-size: 13px;
        padding: 10px;
        position: relative;
        max-width: 150px !important;
        margin: 10px;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        background:  rgb(248, 248, 248);
        text-align: center;
        border-radius: 25px;
    }

    ion-footer {
       
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .button-full {
        min-height: 44px;
        margin-left: 0;
        margin-right: 0;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        background :rgb(241, 36, 105);    
    }


    ion-card {
        position: relative;
        text-align: start;
        margin: 0px !important;
        min-width: 100%;
        height: 70%;
      }
    
      ion-card img {
        display: block;
        width: 100%;
        height: 100%;
    }
      .card-title {
        position: absolute;
        top: 3%;
        font-size: 2.0em;
        width: 100%;
        font-weight: normal;
        color: #fff;
        // padding-left: 10px;
        margin-left: 10px;
      }

      .card-price {
        position: absolute;
        bottom: 5%;
        font-size:16px;
        // width: 100%;
        font-weight: normal;
        color: #fff;
        padding: 10px;
        border-radius: 25px;
        background :rgba(255, 255, 255, 0.5);
        right: 3%;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      ion-icon {
        display: inline-block;
        font-size: 30px;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.87);
    }


    .alert-md .alert-message {
    max-height: 240px;
    font-size: 19px;
}

    .prompt_alert .alert-input{
        border-bottom: none!important;
        caret-color: #F58282;
    }
    .prompt_alert .alert-input-group:before {
        content: '#';
        display: inline-block;
        float: right;
        line-height: 3.5;
        color: black;
    }
    .prompt_alert .alert-input-wrapper {
        display: flex;
        padding-right: 3px;
    }
}
