<ion-header no-border>
    <ion-navbar color="light">
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <h3 text-center>Paiement</h3>
    <img src="assets/icon/wallet.png" class="center">
   <br>
    <div class="card">
      <h5 style="text-align:center">
        Montant à payer
      </h5>
        <h1 style="text-align:center">
          {{star.book_price}} FCFA.
        </h1>
    </div>
  
    <ion-list radio-group [(ngModel)]="data.paymentMeanCode">
      <p style="text-align:center">
        Opérateurs
      </p>
  
      <!-- <ion-item>
          <ion-label>
            <img src="assets/imgs/orange-money.png" width="30px">Orange Money
          </ion-label>
          <ion-radio value="orange"></ion-radio>
      </ion-item>-->
  
      <ion-item>
          <ion-label>
            <img src="assets/imgs/mtn-mobile-money.jpg" width="30px">MTN mobile money
          </ion-label>
          <ion-radio value="MTN" ></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <img src="assets/imgs/moov.jpg" width="30px">
          Moov Flooz
        </ion-label>
        <ion-radio value="MOOV" ></ion-radio>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Numéro mobile money</ion-label>
      <ion-input type="contact" [(ngModel)]="data.numero"></ion-input>
    </ion-item>
   
  </ion-list>
  
  
  <button class="buttonSubmit" no-margin ion-button full text-uppercase (click)="submit()">Payer</button>
  
  </ion-content>