page-payment {

    /* Settings font size
  =========================================*/
  $settings-font-size-header: 24px;
  $settings-font-size-button: 12px;
  $settings-font-size-input-field: 14px;
  $settings-font-size-input-placeholder: 14px;
  $settings-font-size-description: 10px;
  $settings-font-size-label: 10px;

  /* Settings font weight
  =========================================*/
  $settings-font-weight-header: 300;
  $settings-font-weight-button: 700;
  $settings-font-weight-input-field: 400;
  $settings-font-weight-input-placeholder: 400;
  $settings-font-weight-description: 400;
  $settings-font-weight-label: 600;

  /* Settings text color
  =========================================*/
  $settings-text-color-header: #CCCCCC;
  $settings-text-color-button: #FFFFFF;
  $settings-text-input-color: #242424;
  $settings-text-input-placeholder: #CCCCCC;
  $settings-text-color-description: #242424;
  $settings-text-color-description-links: #687DFC;
  $settings-text-label-color: #FF0000;

  
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
      }

      .buttonSubmit{
        min-height: 57px;
            border-radius: 8px;
            margin-top: 15px;
            color: $settings-text-color-button;
            font-size: $settings-font-size-button;
            font-weight: $settings-font-weight-button;
            letter-spacing: 2px;
            background: #687DFC !important;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
      }

      .card{
        height: 70px;
        width: 100%;
        background: #1e3c88;
        color: white;
        border-radius: 10px;
        padding: 2px;
    }

    h1{
      padding: 0 !important;
      margin: 0 !important;
    }
    
    h5{
      padding: 0 !important;
      margin: 0;
      margin-top: 5px !important;
    }
    
    p{
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
}
