// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-telescope"] {
      mask-image: url(../assets/telescope.png);
    }
    &[class*="custom-user"] {
      mask-image: url(../assets/user.svg);
    }
  
  }
  
//   .tab-button {
//     background: white;
//  }

a {
  color: #687DFC;
  // font-size: $settings-font-size-description;
  // font-weight: $settings-font-weight-description;
  // text-decoration: none;
}

.cardi {
  border-radius: 8px !important;
  border: 2px solid #687DFC !important;
  // height: 70px;
  // width: 100%;
  // background: rgb(166, 179, 255);
  // // color: white;
  // padding: 2px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16) !important;
}

.img-center{
  display: block;
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tabs-md .tabbar , .tabs-ios .tabbar{
  background: white;
  height: 50px;
}

.tabbar {
	a.tab-button[aria-selected=true]:nth-of-type(1) {
		color: rgb(241, 36, 105);
		.tab-button-icon {
			color: rgb(241, 36, 105);
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(2) {
		color: #687DFC;
		.tab-button-icon {
			color: #687DFC;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(3) {
		color: red;
		.tab-button-icon {
			color: red;
		}
	}
}

::-webkit-scrollbar,
        *::-webkit-scrollbar {
        display: none;
        }
