<ion-header no-border>
    <ion-navbar color="light">
        <ion-title>Demandes reçues</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>


    <ion-card class="cardi" *ngFor="let d of demandesList; let i = index">
        <ion-card-content [ngClass]="checkin(i) ? 'transparent' : 'default'" (click)="push(i)">
        <ion-card-title style="color:#1e3c88">Demande de : {{ d.purchaserName }}</ion-card-title>
        <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-height: 16px; max-height: 32px; -webkit-box-orient: vertical">
           <a> Instructions : </a> {{ d.instructions }}</p>
        <!-- <p>{{d.created_at}}</p> -->
        <ion-note item-end style="font-size:15px; align-self: flex-start">{{convertTodate(d.created_at) | date:'dd-MM-yyyy, HH:mm:ss'}}</ion-note>
        <p *ngIf="checkin(i)" style="font-size: 10px; color: rgb(114, 0, 0);">vidéo envoyée</p>
      </ion-card-content>
    </ion-card>

    <div style="margin-top: 50%;" *ngIf="isloading">
      <div text-center>
        <p><ion-spinner name="crescent"></ion-spinner></p>
      </div>
    </div>
    <!-- <div class="card" *ngFor="let d of demandesList; let i = index">
        <h5 style="text-align:center">
            {{ d.fan_instructions }}
        </h5>
          <h1 style="text-align:center">
              from : {{ d.for }}
          </h1>
      </div> -->

<div *ngIf="!listExist"  style="margin-top: 50%;">
  <h5 text-center>
    Aucune Demande reçue pour l'instant.
  </h5>
</div>

</ion-content>
