<ion-header no-border>
    <ion-navbar color="light">
    </ion-navbar>
  </ion-header>
  
  <!-- Themes  register-flat-->
  <ion-content >
    <ion-grid no-padding>
      <!-- Section form>-->
    <ion-col col-10 offset-1 col-md-6 offset-md-3>
      <form padding>
        <ion-row >
          <ion-col col-12>
            <h1 center><strong>Instructions</strong></h1>
          </ion-col>
        </ion-row>
        <!-- Input-field -->
        <ion-row>
          <ion-col col-12>
            <div input-field>
               <!-- Input-field-text -->
               <ion-item no-padding>
                  <ion-textarea [(ngModel)]="data.fan_instructions" [ngModelOptions]="{standalone: true}" maxlength="200" rows="8" cols="20" placeholder="Enter the details here..."></ion-textarea>
                </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </form>
      <!-- select -->
      <ion-list>
          <ion-item>
            <ion-label>This video is for</ion-label>
            <ion-select [(ngModel)]="data.request_is_for" [ngModelOptions]="{standalone: true}" placeholder="Myself">
              <ion-option value="Myself">Myself</ion-option>
              <ion-option value="Someone">Someone</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

      <ion-row >
          <!-- Login button -->
          <ion-col col-12 no-padding>
            <button class="buttonSubmit" no-margin ion-button full text-uppercase (click)="submit()">submit</button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-grid>
  </ion-content>