page-wallet {

    .card-title {
        position: absolute;
        top: 20%;
        font-size: 2.0em;
        width: 100%;
        font-weight: normal;
        color: #fff;
        // background :rgba(0, 0, 0, 0.45);
        // padding-left: 10px;
        margin-left: 10px;
      }

      ion-icon {
        display: inline-block;
        font-size: 35px;
        font-weight: lighter;
        color :#fff;
    }
}
