<ion-header style="height:20%; background: rgba(116, 137, 255, 0.678)">

  <div class="card-title">
    <ion-icon name="arrow-back" (click)="back()"></ion-icon>
   </div>
   
    <h1 style="width:100% ; color: white; text-align: center; margin-top: 15px; margin-bottom: 20px; font-size: 20px" >My WALLET</h1>
    <p style="width:100% ; color: white; text-align: center; margin-bottom: 0%">Montant Total:</p>
    <h1 style="width:100% ; color: white; text-align: center; margin-top: 0%;font-size: 30px"> {{amount}} CFA</h1>
    
</ion-header>


<ion-content>
    <div>
        <ion-segment [(ngModel)]="transaction" color="violet" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="today">
            Aujourd'hui
          </ion-segment-button>
          <ion-segment-button value="month">
            toutes les transactions
          </ion-segment-button>
        </ion-segment>
      </div>
<!-- 
  <ion-card *ngFor="let t of transactionList">
    <ion-card-content>
    <ion-card-title style="color:#687DFC">Montant : {{ t.amount }} CFA</ion-card-title>
    <h3 style="color:gray">Date : {{ t.created_at }}</h3>
  </ion-card-content>
</ion-card> -->
  
<div [ngSwitch]="transaction">
    <div *ngSwitchCase="'today'">

        <!-- <div style="margin-top: 50%;" *ngIf="isloading">
            <div text-center>
              <p><ion-spinner name="crescent"></ion-spinner></p>
            </div>
          </div> -->

        <h6 *ngIf="!dailyListExist" style="color:rgba(116, 137, 255, 0.678); margin-top:50%; text-align:center;">Aucune Transaction pour l'instant.</h6>

        <div *ngFor="let t of dailyList">
            <ion-card *ngIf="t.status == '100'" style="background-color: white"  >
              <ion-item style="background-color: white">
                  <img item-start style="height: 40px; width: 40px" src="assets/imgs/wallet2.png">
                  <h6 style="font-weight: bolder; font-size: 15px">{{t.amount}} FCFA</h6>
                  <p>{{t.created_at}}</p>
                  <!-- <ion-note item-end style="font-size:10px">{{r.dateTransaction}}</ion-note> -->
                </ion-item>
              </ion-card>  
            </div>

    </div>
  
    <div *ngSwitchCase="'month'">
        <h6 *ngIf="!listExist" style="color:rgba(116, 137, 255, 0.678); margin-top:50%; text-align:center;">Aucune transaction pour ce mois</h6>

        <div *ngFor="let t of transactionList">
            <ion-card *ngIf="t.status == '100'" style="background-color: white"  >
              <ion-item style="background-color: white">
                  <img item-start style="height: 40px; width: 40px" src="assets/imgs/wallet2.png">
                  <h6 style="font-weight: bolder; font-size: 15px">{{t.amount}} FCFA</h6>
                  <p>{{t.created_at}}</p>
                  <!-- <ion-note item-end style="font-size:10px">{{r.dateTransaction}}</ion-note> -->
                </ion-item>
              </ion-card>  
            </div>
    </div>
  </div>

<!-- 
<div style="margin-top: 50%;" *ngIf="isloading">
  <div text-center>
    <p><ion-spinner name="crescent"></ion-spinner></p>
  </div>
</div>

<div *ngIf="!listExist"  style="margin-top: 50%;">
    <h5 text-center>
      Aucune Transaction pour l'instant.
    </h5>
  </div> -->

<!-- <div *ngFor="let t of transactionList">
<ion-card *ngIf="t.status == '100'" style="background-color: white"  >
  <ion-item style="background-color: white">
      <img item-start style="height: 40px; width: 40px" src="assets/imgs/wallet2.png">
      <h6 style="font-weight: bolder; font-size: 15px">{{t.amount}} FCFA</h6>
      <p>{{t.created_at}}</p>
      <ion-note item-end style="font-size:10px">{{r.dateTransaction}}</ion-note>
    </ion-item>
  </ion-card>  
</div> -->

</ion-content>
