<ion-header no-border>
  <ion-navbar color="light">
    <ion-title text-center>
     Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <img class="logo img-center" src="assets/imgs/Cameo-Logo.png" />
  <div class="div1">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div class="card-button" (click)="demandes()">
          <img src="assets/icon/human-rights.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Demandes
          </h5>
        </div>
      </ion-col> 
      <ion-col col-6>
        <div class="card-button" (click)="userDetail()">
          <img src="assets/icon/users.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Profil
          </h5>
        </div>
      </ion-col>
    </ion-row>  
  <ion-row>
      <ion-col col-6>
        <div class="card-button" (click)="wallet()">
          <img src="assets/icon/wallet.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Wallet
          </h5>
        </div>
      </ion-col>
      <ion-col col-6>
          <div class="card-button" (click)="showConfirm()">
            <img src="assets/icon/logout1.png" class="img-center" width="70px">
            <!-- <ion-icon name="log-out" class="img-center" font-size="70px"></ion-icon> -->
            <hr>
            <h5 text-center style="margin-top:5px">
              Déconnexion
            </h5>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</div>
<p class="p">
    v 1.0.98
</p>
</ion-content>
