page-talent-dashboard {
    #block{
        width: 100%;
        height: 40%;
        background-image: url('../../assets/images/background.png');
        background-size:contain;
        background-position:center;
    }
    
    .div1{
        top: 60%;
    }
    .card-button{
        border: 2px solid #687DFC !important;
        border-radius: 8px !important;
        box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16) !important;
    }
    
    .transparent{
        opacity: 0.5 !important;
      }
    
    hr {
        border: 2px solid #687DFC !important;
        height: 1px !important;
        width: 50px !important;
        background: #687DFC !important;
        display: block !important;
        font-size: 2em !important;
        opacity: 1 !important;
        visibility: visible !important;
      }

      .p{
        font-size: 11px;
        text-align: center;
    }
    .scroll-content {
        overflow-y: hidden !important;
    }
}
